<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ul>
            <li v-for="(user,index) in users" key="use.name">
                当前索引:{{index}}==> {{user.name}}==>{{user.gender}}==>{{user.age}} <br>

                <!-- 对象信息 -->
                <!-- <span v-for="v in user">{{v}}==></span> -->
                <span v-for="(v,k,i) in user"> {{k}}=={{v}}=={{i}}</span>
            </li>
        </ul>
    </div>

    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: "#app",
            data: {
                users: [
                    { name: '柳岩', gender: '女', age: 21 },
                    { name: '范冰冰', gender: '女', age: 25 },
                    { name: '刘亦菲', gender: '女', age: 18 },
                    { name: '古力娜扎', gender: '女', age: 22 },
                ]

            }
        })
    </script>

</body>

</html>